* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  color: #111111;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(158, 138, 121, .4);
}

.card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 28.125rem;
  width: 80%;
  height: 80vh;
  background-color: #fff;
  border-radius: .3125rem;
  box-shadow: 0 .375rem .75rem rgba(0,0,0,.2);
}

.card--active > .card-header {
  transform: translateY(-100%);
}

.card--active > .card-posts {
  transform: translateY(-100%);
}

.card-header,
.card-posts {
  height: 100%;
  transition: .9s all cubic-bezier(1, 0, 1, .5);
}

.card-cover {
  overflow: hidden;
  height: 20vh;
  margin: 0 auto -3.125rem;
}

.card-cover_img {
  display: block;
}

.card-info {
  position: relative;
  margin-bottom: 1.875rem;
  text-align: center;
}

.card-avatar {
  overflow: hidden;
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto 30px;
  border: .25rem solid #fff;
  border-radius: 50%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.1);
  object-fit: cover;
}

.card-avatar_img {
  display: block;
  width: 100%;
}

.card-title {
  margin: 0 auto .9375rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.875rem;
}

.card-description {
  max-width: 19.6875rem;
  width: 80%;
  margin: 0 auto;
  font-size: .9rem;
  color: #a5a5a5;
}

.card-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-social_item {
  overflow: hidden;
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 15px;
  opacity: .3;
  transition: .2s all ease;
}

.card-social_item:hover {
  opacity: .5;
}

.card-social_icon {
  width: 100%;
  height: 100%;
}

.card-list {
  margin: 0 45px;
  padding: 0;
  list-style: none;
}

.card-list__title {
  font-size: 40px;
  margin: 0;
}

.card-list__subtitle {
  margin: 0 0 15px;
  font-size: 16px;
  color: #a5a5a5;
  font-weight: 400;
}

.card-list__item {
  margin: 10px 0;
  display: block;
}

.card-list__item-title {
  font-size: 23px;
  text-decoration: none;
  color: #a5a5a5;
}

.card-list__item-title:hover {
  background-color: #41a945;
  color: #fff;
}

.card-back:before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 20px;
  vertical-align: bottom;
  background-image: url(/img/arrow-icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(90deg);
}

.card-back {
  display: block;
  margin: 20px 5px;
  cursor: pointer;
  opacity: .3;
  font-size: 19px;
}

.card-back:hover {
  opacity: .5;
}

@media (min-width: 28.75rem) {
  .card-title {
  font-size: 2.25rem;
}
 .card-description {
  font-size: 1rem;
}
 }

@media (min-height: 30rem) {
  .card-avatar {
  width: 7.5rem;
  height: 7.5rem;
}
 }

@media (min-height: 35.625rem) {
  .card-avatar {
  width: 8.75rem;
  height: 8.75rem;
}
 }

@media (min-height: 43.75rem) {
  .card-cover {
  height: 34vh;
}
 }

@media (min-height: 46.875rem) {
  .card {
  height: 43.75rem;
}
 .card-cover {
  height: 20.625rem;
}
}
