
.post {
  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(16px);
    margin: rem(-2px);
  
    span {
      display: block;
      margin: rem(2px);
      padding: rem(4px) rem(8px);
      font-size: rem(12px);
      font-weight: 600;
      text-transform: uppercase;
      background-color: $theme;
      border-radius: rem(2px);
    }
  }

  &-breadcrumb {
    margin: 0;
    margin-bottom: rem(16px);
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      text-transform: capitalize;

      &:not(:last-child) {
        margin-right: rem(8px);
        
        &:after {
          content: ">";
          margin-left: rem(8px);
          font-size: rem(12px);
          line-height: rem(12px);
        }
      }
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__title {
      margin: rem(48px) 0 rem(24px);
      font-size: rem(48px);
      color: rgba($theme, .5);
      
      @media (min-width: $tablet-pro) {
        margin: rem(64px) 0 rem(32px);
        font-size: rem(64px);
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: rem(40px);
        
        @media (min-width: $tablet-pro) {
          margin-bottom: rem(48px);
        }
      }
    }
  }

  &-card {
    &__title {
      margin: rem(8px) 0;
      font-size: rem(20px);
      line-height: rem(24px);
      color: $white;
      
      @media (min-width: $tablet-pro) {
        font-size: rem(32px);
        line-height: rem(38px);
      }
    }

    &__excerpt {
      margin-top: 0;
      font-size: rem(18px);
      line-height: 1.5;
      
      @media (min-width: $tablet-pro) {
        font-size: rem(22px);
      }
    }
  }
}
