.post-content {
  a {
    padding: 0 rem(4px);
    border-bottom: rem(1px) solid $theme;
    border-radius: rem(2px);

    &:hover {
      text-decoration: none;
      background-color: $theme;
    }
  }

  img {
    width: auto;
    max-width: 100%;
    display: block;
  }

  p {
    margin: 36px 0;
    font-size: rem(18px);
    line-height: 1.5;
    color: rgba($white, .8);
    
    @media (min-width: $tablet-pro) {
      font-size: rem(24px);
    }
  }

  ul {
    li {
      font-size: rem(18px);
      line-height: 1.5;

      @media (min-width: $tablet-pro) {
        font-size: rem(24px);
      }

      &:not(:last-child) {
        margin-bottom: rem(16px);

        @media (min-width: $tablet-pro) {
          margin-bottom: rem(24px);
        }
      }
    }
  }

  strong {
    color: $white;
  }


  h3,
  blockquote p {
    font-size: rem(24px);
    line-height: 1.2;
    color: $white;
    
    @media (min-width: $tablet-pro) {
      font-size: rem(32px);
    }
  }

  &--intro {

    p {
      margin: 0;
      font-size: rem(24px);
      line-height: rem(32px);

      @media (min-width: $phablet) {
        font-size: rem(32px);
        line-height: rem(40px);
      }

      @media (min-width: $tablet-pro) {
        font-size: rem(48px);
        line-height: rem(56px);
      }

      &:not(:last-child) {
        margin-bottom: rem(16px);
        
        @media (min-width: $phablet) {
          margin-bottom: rem(24px);
        }
        
        @media (min-width: $tablet-pro) {
          margin-bottom: rem(32px);
        }
      }
    }

    strong {
      font-size: rem(32px);
      font-weight: 700;

      @media (min-width: $phablet) {
        font-size: rem(40px);
      }

      @media (min-width: $tablet-pro) {
        font-size: rem(64px);
      }
    }
  }
}
