.post-content {
  p {
    margin: 36px 0;
    font-size: rem(24px);
    line-height: rem(36px);
    color: rgba($white, .8);
  }

  strong {
    color: $white;
  }

  h3 {
    font-size: rem(32px);
    line-height: 1.2;
  }

  blockquote p {
    font-size: rem(32px);
    line-height: 1.2;
  }

  &--intro {

    p {
      margin: 0;
      font-size: rem(24px);
      line-height: rem(32px);

      @media (min-width: $phablet) {
        font-size: rem(32px);
        line-height: rem(40px);
      }

      @media (min-width: $tablet-pro) {
        font-size: rem(48px);
        line-height: rem(56px);
      }

      &:not(:last-child) {
        margin-bottom: rem(16px);
        
        @media (min-width: $phablet) {
          margin-bottom: rem(24px);
        }
        
        @media (min-width: $tablet-pro) {
          margin-bottom: rem(32px);
        }
      }
    }

    strong {
      font-size: rem(32px);
      font-weight: 700;

      @media (min-width: $phablet) {
        font-size: rem(40px);
      }

      @media (min-width: $tablet-pro) {
        font-size: rem(64px);
      }
    }
  }
}
