.post-header {
  &__title {
    margin: 0;
    font-size: rem(32px);
    line-height: 1.2;
    
    @media (min-width: $tablet-pro) {
      font-size: rem(48px);
    }
  }

  &__subtitle {
    font-size: rem(24px);
    line-height: 1.2;
    font-weight: 300;
    opacity: .8;
  }

  &__date {
    display: none;
  }
}
