---
sitemap:
  exclude: 'yes'
---

DirectoryIndex index.html

RewriteEngine On
RewriteBase /

{% for post in site.posts %}
{% for link in post.old %}
RewriteRule ^{{ link }} {{ post.permalink }} [R=301,L]
{% endfor %}
{% endfor %}

redirect 301 https://kevinoliveira.com.br/como-contribuir-em-projetos-open-source/ https://kevinoliveira.com.br/blog/como-contribuir-em-projetos-open-source/