---
---

DirectoryIndex index.html

RewriteEngine On
RewriteBase /

RewriteRule ^index\.html$ / [NC,R,L]

{% for post in site.posts %}
{% for link in post.old %}
RewriteRule ^{{ link }} {{ post.permalink }} [R=301,L]
{% endfor %}
{% endfor %}