.post-footer {
  &__share {
    position: fixed;
    right: rem(32px);
    bottom: rem(32px); 
    @extend .reset-button;
    width: rem(48px);
    height: rem(48px);
    border-radius: rem(8px);
    background-color: $theme;
    color: $white;
    transition: .2s all ease;

    @media (min-width: $tablet) {
      right: rem(48px);
      bottom: rem(48px); 
    }
    
    &:hover {
      background-color: lighten($theme, 20%);
    }

    > * {
      pointer-events: none;
    }
  }
}