*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  height: 100%

body
  margin: 0
  padding: 0
  font:
    family: $ffamily
    size: $fsize
    weight: 300
  color: $cdark

a
  color: $cdark
  text-decoration: none

  &:hover
    color: $ctheme

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  font-weight: 300

.container
  @extend %flexbox
  margin: 
    top: 4.0625rem
    left: 4.0625rem
    right: 4.0625rem