.footer {
  @extend .grid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: rem(48px);
  padding: rem(40px) 0;
  color: rgba($white, 0.5);

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  > *:not(:last-child) {
    margin-bottom: rem(16px);

    @media (min-width: $desktop) {
      margin-right: rem(48px);
    }
  }

  &-copy {
    line-height: rem(32px);
    margin: 0;
  }

  &-social {
    display: flex;
    flex: 1;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      overflow: hidden;
      // width: rem(32px);
      height: rem(32px);
      color: rgba($white, 0.5);
      transition: 0.3s all ease;

      &:hover {
        color: $white;

        span {
          margin-top: rem(-30px);
        }

        &.twitter {
          color: #1da1f2;
        }

        &.instagram {
          background: radial-gradient(
            circle at 33% 100%,
            #fed373 4%,
            #f15245 30%,
            #d92e7f 62%,
            #9b36b7 85%,
            #515ecf
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.dribbble {
          color: #ea4c89;
        }

        &.linkedin {
          color: #0077b5;
        }
      }

      &:not(:last-child) {
        margin-right: rem(16px);

        @media (min-width: $phablet) {
          margin-right: rem(24px);
        }
      }

      &:before {
        content: none;
      }
    }

    span {
      padding: rem(5px);
      transition: 0.3s all ease;
    }

    i {
      font-size: rem(24px);
    }
  }

  &-playing {
    a {
      display: flex;
      align-items: center;
      color: #1db954;
    }

    svg {
      min-width: rem(24px);
      min-height: rem(24px);
      display: inline-block;
      vertical-align: bottom;
    }

    p {
      margin: 0;
      margin-left: rem(8px);
      font-size: rem(14px);

      @media (min-width: $tablet) {
        font-size: rem(16px);
      }
    }
  }
}
