<footer class="footer" role="contentinfo">
  <p class="footer-copy">
    2020 <i class="uil uil-copyright"></i> Kevin Oliveira
  </p>
  <nav class="footer-social">
    <a href="mailto:me@kevinoliveira.com.br" target="_blank" title="E-mail">
      <i class="uil uil-envelope"></i>
    </a>
    <a class="twitter" href="https://twitter.com/kvnol" title="Twitter">
      <span>Tw</span>
      <i class="uil uil-twitter"></i>
    </a>
    <a class="instagram" href="https://instagram.com/kvnol" title="Instagram">
      <span>Ig</span>
      <i class="uil uil-instagram"></i>
    </a>
    <a href="https://github.com/kvnol" title="GitHub">
      <span>Gh</span>
      <i class="uil uil-github"></i>
    </a>
    <a class="dribbble" href="https://dribbble.com/kvnol" title="Dribbble">
      <span>Dr</span>
      <i class="uil uil-dribbble"></i>
    </a>
    <a class="linkedin" href="https://linkedin.com/in/kvnol" title="LinkedIn">
      <span>In</span>
      <i class="uil uil-linkedin"></i>
    </a>
  </nav>
</footer>
