<header class="header" role="banner">
  <div class="header-logo">
    <a href="{{ site.url }}">
      <img src="/assets/img/kvnol.png" alt="{{ site.title }}" class="logo-img">
      {% if page.url == '/' %}
      <h1 class="logo-title">
        <span class="logo-title_firstname">Kevin</span>
        <span class="logo-title_lastname">Oliveira</span>
      </h1>
      {% else %}
      <h2 class="logo-title">
        <span class="logo-title_firstname">Kevin</span>
        <span class="logo-title_lastname">Oliveira</span>
      </h2>
      {% endif %}
    </a>
  </div>

  <div class="header-menu">
    <nav class="menu-pages">
      <a href="/" class="menu-pages_item{% if page.url == '/' %} menu-pages_item--current{% endif %}">About</a>
      <a href="/blog/" class="menu-pages_item{% if page.url == '/blog/' %} menu-pages_item--current{% endif %}">Blog</a>
      <a href="/portfolio/" class="menu-pages_item{% if page.url == '/portfolio/' %} menu-pages_item--current{% endif %}">Portfolio</a>
      <a href="/projects/" class="menu-pages_item{% if page.url == '/projects/' %} menu-pages_item--current{% endif %}">Projects</a>
    </nav>

    <nav class="menu-social">
      <a href="https://github.com/{{ site.user }}" class="menu-social_item" title="GitHub">
        {% include _icons/github.svg %}
      </a>
      <a href="https://twitter.com/{{ site.user }}" class="menu-social_item" title="Twitter">
        {% include _icons/twitter.svg %}
      </a>
      <a href="https://facebook.com/{{ site.user }}" class="menu-social_item" title="Facebook">
        {% include _icons/facebook.svg %}
      </a>
    </nav>
  </div>
</header>