<header class="header" role="banner">
  <div class="logo">
    <a href="{{ site.url }}">
      <img src="/assets/img/kvnol.png" alt="{{ site.title }}" class="logo-img">
      <h1 class="logo-title">
        <span class="logo-title_firstname">Kevin</span>
        <span class="logo-title_lastname">Oliveira</span>
      </h1>
    </a>
  </div>

  <nav class="menu-list">
    <a href="/about" class="menu-item">About</a>
    <a href="/blog" class="menu-item">Blog</a>
    <a href="/portfolio" class="menu-item">Portfolio</a>
    <a href="/projects" class="menu-item">Projects</a>
  </nav>

  <div class="social">
    <ul class="social-list">
      <li class="social-item">
        <a href="https://github.com/{{ site.user }}" class="social-link" title="GitHub">
          {% include _icons/github.svg %}
        </a>
      </li>
      <li class="social-item">
        <a href="https://twitter.com/{{ site.user }}" class="social-link" title="Twitter">
          {% include _icons/twitter.svg %}
        </a>
      </li>
      <li class="social-item">
        <a href="https://facebook.com/{{ site.user }}" class="social-link" title="Facebook">
          {% include _icons/facebook.svg %}
        </a>
      </li>
    </ul>
  </div>
</header>