.presentation {
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 48px;
  }

  img {
    display: block;
    width: auto;
    height: 296px;
    margin: 0 auto 8px;
    mix-blend-mode: exclusion;
    user-select: none;

    @media (min-width: 768px) {
      margin: 0 auto 12px;
      height: 408px;
    }

    @media (min-width: 1280px) {
      margin: 0 auto 16px;
      height: 480px;
    }
  }

  h1 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;

    @media (min-width: 768px) {
      margin-bottom: 16px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 24px;
    }

    strong {
      display: block;
    }
  }

  h2 {
    margin: 0;
    font-weight: 300;
    opacity: 0.5;
  }
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
