:root {
  --color-primary: #1d1d1d;
  --color-primary-rgb: 29, 29, 29;
  --color-primary-shade: #000;
  --color-primary-shade-rgb: 0, 0, 0;
  --color-primary-contrast: #fff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-secondary: #ffcb44;
  --color-secondary-rgb: 255, 203, 68;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #fff;
    --color-primary-shade: #f1f1f1;
    --color-primary-shade-rgb: 241, 241, 241;
    --color-primary-rgb: 255, 255, 255;
    --color-primary-contrast: #000;
    --color-primary-contrast-rgb: 0, 0, 0;
    --color-secondary: #4c42ff;
    --color-secondary-rgb: 255, 203, 68;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  font-weight: 300;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
