.list,
.sublist {
  list-style: none;
}

.list-title {
  display: inline-block;
  margin-bottom: 32px;
  padding: 4px 12px;
  border-radius: 40px;
  color: rgba(var(--color-primary-contrast-rgb), 0.5);
  font-weight: 400;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);

  @media (min-width: 1280px) {
    position: absolute;
    top: 12px;
    left: -80px;
  }
}

.list-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(var(--color-primary-contrast-rgb), 0.2);

    @media (min-width: 768px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }
}

.sublist-item {
  &:not(:last-child) {
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @media (min-width: 768px) {
      margin-bottom: 24px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 32px;
    }
  }
}
