.masthead
  text-align: center

.masthead-title,
.masthead-subtitle
  margin: 0 auto

.masthead-title
  font:
    size: 3.375rem
    weight: 400

.masthead-subtitle
  color: lighten($color-text, 30%)
  font:
    size: 1.2rem
    weight: 300