---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.url == '/' %}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="https://use.typekit.net/oii6naz.css">
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/{{page.slug}}.css">
</head>

<body class="{{ page.slug }}">
  {% include header.html %}
  <main class="main">
    {{ content }}
  </main>
  {% include footer.html %}
</body>

</html>
