---
# default
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="e8tKK8_XjvMNTjaAiBPkX3bu_03VuuQzNjcHFTMS8mI">
  
  <link href="https://fonts.googleapis.com/css?family=PT+Mono|Lato:300,300i,400,400i,700,700i|Archivo+Black" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" href="https://kevinoliveira.com.br/feed.xml">
</head>
<body class="{{ page.slug }}">
  <div class="container">
    {% include header.html %}
    <main class="main" role="main">
      <header class="main-header">
        <h1 class="main-header_title">{{ page.title }}</h1>
        <h2 class="main-header_subtitle">{{ page.subtitle }}</h2>
      </header>
      {{ content }}
    </main>
  </div>
</body>
</html>