---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}

<body class="single">
  {% include header.html %}

  <main class="main">
    <article class="post">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="post-breadcrumb">
        <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"><a href="/">Home</a></li>
        <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"><a href="/{{page.categories[0]}}">{{page.categories[0]}}</a></li>
      </ol>

      <header class="post-header">
        <h1 class="post-header__title">{{ page.title }}</h1>
        <h2 class="post-header__subtitle">{{ page.description }}</h2>
      </header>

      <div class="post-content">
        {%- if page.live -%}
          <blockquote>
            <p><a href="{{page.live}}" target="_blank" rel="noopener">Visitar o projeto &gt;</a></p>
          </blockquote>
        {%- endif -%}
        
        {{ content }}
      </div>

      {%- if page.comments -%}
      <div id="disqus_thread"></div>
      <script>
      var disqus_config = function () {
        this.page.url = "{{site.url}}{{page.url}}";
        this.page.identifier = "{{page.slug}}";
      };
      (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://kvnol.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {%- endif -%}             
    </article>

    {%- if page.track -%}
    <aside class="sidebar">
        <div class="sidebar-block">
          <h4 class="sidebar-title">Ouça na íntegra</h4>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{page.track}}&color=%23663ab7&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>
    </aside>
    {%- endif -%}
  </main>

  {% include footer.html %}
  <script id="dsq-count-scr" src="//kvnol.disqus.com/count.js" async></script>
</body>

</html>