---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}

<body class="single">
  {% include header.html %}

  <main class="main">
    <section class="post">
      <ol class="post-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ol>

      <header class="post-header">
        <h1 class="post-header__title">{{ page.title }}</h1>
      </header>

      <div class="post-content">
        {{ content }}
      </div>
    </section>
  </main>

  {% include footer.html %}
</body>

</html>
