@import './_fonts/all';

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
}

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-size: rem($font-size);
  line-height: normal;
  color: $white;
}

.main {
  @extend .grid;
  flex: 1;
}

a {
  position: relative;
  color: $white;
  text-decoration: none;
  transition: .2s all ease;
}
