.footer {
  @extend .grid;
  padding: rem(40px) 0;

  &-social {

    a {
      color: rgba($white, .5);
      
      &:hover {
        color: $white;
      }

      &:not(:last-child) {
        margin-right: rem(24px);
      }

      &:before {
        content: none;
      }
    }
  }
}
