.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(40px);
  margin-bottom: rem(24px);

  @media (min-width: $phablet) {
    margin-bottom: rem(32px);
  }
  
  @media (min-width: $tablet-pro) {
    margin-bottom: rem(48px);
  }

  &-logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: $white;

    &:before {
      content: none;
    }

    img {
      display: block;
      margin-right: rem(24px);
    }
  }

  &-title {
    display: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: rem(14px);
    letter-spacing: .32rem;

    @media (min-width: $phablet) {
      display: block;
    }

    br {
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &-menu {
    a {
      text-transform: uppercase;
      font-size: rem(16px);
      font-weight: 700;
      color: rgba($white, .5);

      &:hover {
        color: $white;
      }

      &:not(:last-child) {
        margin-right: rem(24px);
      }
    }
  }
}
