.sidebar {
  margin-bottom: rem(48px);
  
  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-left: rem(48px);
    max-width: rem(240px);
  }

  &-title {
    margin: 0;
    margin-bottom: rem(16px);
    font-size: rem(18px);
    font-weight: 400;
  }

  &-block {
    @media (min-width: $desktop) {
      position: sticky;
      top: rem(24px);
    }

    &:not(:last-child) {
      margin-bottom: rem(32px);

      @media (min-width: $tablet) {
        margin-bottom: rem(40px);
      }
    }
  }
}